<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script type="text/javascript" async src="/MathJax/MathJax.js?config=TeX-MML-AM_CHTML"></script>
		</head>
		<body>
			<nav>
	    		<ul>
				
	        		<li><a href="/">Home</a></li>
		        	<li><a href="{{site.url}}/about.html">About</a></li>
	        		<li><a href="/blog">Fun Problems</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:baiduqqali@gmail.com">email</a></li>
	        		<li><a href="https://github.com/mixu3666">github/mixu3666</a></li>
				</ul>
			</footer>
		</body>
	</html>
